:root {
    --gray-100: #f2f4f7;
    --gray-200: #eaecf0;
    --gray-300: #d0d5dd;
    --gray-400: #98a2b3;
    --gray-500: #667085;
    --gray-600: #475467;
    --gray-700: #344054;
    --gray-800: #1d2939;
    --gray-900: #101828;
    --gray-950: #0c111d;

    --gray-true-50: #fafafa;
    --gray-true-100: #f5f5f5;
    --gray-true-200: #e5e5e5;
    --gray-true-300: #d6d6d6;
    --gray-true-400: #a3a3a3;
    --gray-true-500: #737373;
    --gray-true-600: #525252;
    --gray-true-700: #424242;
    --gray-true-800: #292929;
    --gray-true-900: #141414;
    --gray-true-950: #0f0f0f;

    --gray-neutral-100: #f3f4f6;
    --gray-neutral-200: #e5e7eb;
    --gray-neutral-300: #d2d6db;
    --gray-neutral-400: #9da4ae;
    --gray-neutral-500: #6c737f;
    --gray-neutral-600: #4d5761;
    --gray-neutral-700: #384250;
    --gray-neutral-800: #1f2a37;
    --gray-neutral-900: #111927;
    --gray-neutral-950: #0d121c;

    --deep-red-500: #ff3838;

    --violet-dark: #141197;
    --violet-main: #4c49ed;
    --violet-light: #afaefe;

    --green-main: #4fd18b;
    --green-light: #dcf5e8;

    --gray-main: #a1a0bd;

    --primary: #4c49ed;

    --white: #fff;
    --black: #0f0f0f;
}
